/* MRVIBE'S CSS*/

body {
	font-family: 'Roboto', sans-serif !important;
	background: #000000;
    color: #989ca2;
}
a {
	transition: 0.3s all !important;
	text-decoration: none !important;
	color: #fff;
}
a:hover {
	color: #1179e8;
}
.SocialLinks a:hover {
    transform: scale(1.1);
    filter: drop-shadow(2px 4px 6px crimson);
}








/*RESPONSIVENESS*/


@media (max-width: 786px) {

	#LogoAnim h3 {
    	font-size: 72px !important;
	}
	.SocialLinks {
   		margin: 0px auto !important;
	}
	.InfoBlock h3 {
    	font-size: 32px !important;
	}
	.InfoBlock p {
		font-size: 16px !important;
		width: 80% !important;
	}
	.post-feed {
    	grid-gap: 0px !important;
	}
	.FAQContent {
    	flex-direction: column !important;
	}
	.FAQMain , .FAQSidebar iframe {
    	width: 100% !important;
	}
	.site-footer .container {
		padding: 25px 0px !important;
	}
	.site-footer-nav ul {
    	margin: 10px 0px !important;
    	position: relative !important;
	}
	.site-footer .inner {
    	display: flex !important;
    	flex-direction: column-reverse !important;
	}
	footer.site-footer.outer {
		padding: 40px 20px !important;
	}
	
}







/*HEADER*/
#Header {
    background: url(https://cdn.discordapp.com/attachments/840245973712371783/885067439040253982/CrystalBG.png);
    padding: 50px 0px;
    background-size: cover;
    background-position: center;
}

.headcontainer {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-gap: 75px;
}




.SocialLinks {
    display: flex;
    align-items: center;
    grid-gap: 20px;
}
.SocialLinks svg {
    width: 32px;
    height: 32px;
    color: #e23e3e;
}




#NavBar {
	display: none;
    box-shadow: 0px 5px 30px rgb(0 0 0 / 5%);
    width: 100%;
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(5px);
    top: 0;
	padding: 25px;
}
.InfoBlock {
    align-items: flex-end;
    justify-content: space-between;
	position: relative;
}
.Logo {
    margin-top: 35px;
}
.Logo img {
    animation: LogoAnim;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-timing-function: ease-in-out;
}
@keyframes LogoAnim {
	
	0% {
		transform: translateY(0px);
		filter: drop-shadow(1px 3px 5px black);
	}
	100% {
		transform: translateY(-5px);
		filter: drop-shadow(2px 5px 5px #e81497);
	}
	
}	
.Info {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.InfoBlock h3 {
    font-size: 48px;
    font-weight: 700;
    background: -webkit-linear-gradient(
	358deg, #df4030 5%, #E8125B 91%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 5px transparent;
    color: #000;
    font-family: 'Roboto', sans-serif;
    line-height: 56px;
    text-align: center;
    text-shadow: 0px 4px 10px rgb(255 255 255 / 6%);
    letter-spacing: 0.2em;
    text-transform: uppercase;
	margin: 30px 0px 15px;
}
.InfoBlock p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    width: 50%;
    margin: 10px 0px;
    line-height: 30px;
    color: #fff;
}
.Download {
    color: #ddd;
    border-style: solid;
    border-image-source: linear-gradient(to left, #e8145d, #df4030) !important;
    border: 10px solid;
    border-image-slice: 1;
    background: transparent;
    padding: 16px 30px;
    border-width: 5px;
    font-weight: 700;
    font-size: 22px;
    margin-top: 20px;
    text-transform: uppercase;
	filter: brightness(0.6) grayscale(0.5);
	transition: 0.3s all !important;
}
.Download:hover {
    color: #fff;
    transform: translateY(-5px);
    filter: brightness(1) grayscale(0);
	letter-spacing: 1px;
}





/*DOWNLOADS*/
.container.downloads {
    margin-top: -80px;
    z-index: 100000;
    position: relative;
}
.DownloadGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
.download-block {
    background: #0C0D0E;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
	background-size: cover !important;
	background-repeat: no-repeat !important;
}
.download-block.Windows {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background: url(https://media.discordapp.net/attachments/840245973712371783/867092347565244456/maxresdefault.png);
}
.download-block.MacOS {
	border-radius: 0px !important;
	background: url(https://media.discordapp.net/attachments/840245973712371783/867091875608789032/chocapic1327s20shaders.png);
}
.MacOS .OsDownload {
    display: flex;
}
a.Intel {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
a.Apple {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.download-block.Linux {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
	flex-direction: column;
	background: url(https://media.discordapp.net/attachments/840245973712371783/867092511410487346/549617-minecraft-shaders.png);
}
.OsImage svg {
    width: 50px;
    height: 50px;
    color: #fff;
    filter: drop-shadow(0px 4px 10px rgba(0,0,0,0.5));
}
.OsInfo h3 {
    margin: 0px;
    font-size: 28px;
    font-weight: 900;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0px 3px 5px rgb(0 0 0 / 15%);
}
.OsDownload a {
    color: #fff;
    font-weight: 600;
    background: rgba(255,255,255,0.2);
    border-radius: 100px;
    padding: 10px 20px;
    border: 2px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(2px);
    display: block;
    margin: 20px 0px;
}
.OsDownload a:hover {
	background: rgba(255,255,255,0.4);
}

.Instructions ul {
    margin-top: 45px !important;
    display: block;
    list-style: auto;
    font-size: 25px;
    font-weight: 700;
	padding-left: 70px;
    color: #585858;
}
.Instructions ::marker {
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: rgba(255,255,255,0.1);
}

.container.video {
    display: flex;
    justify-content: space-between;
    margin: 100px auto 180px auto;
}
.Video {
    height: 350px;
    border-radius: 20px;
    width: 50%;
    background: #0c0d0e;
}








/*POSTS*/


article-title {
    color: #fff;
    text-align: center;
}
.post-card-content {
    position: absolute;
    bottom: 50px;
    left: 20px;
}
h2.post-card-title {
    margin: 0px;
    color: #fff;
    font-weight: 800;
}
.post-card-image {
    background: transparent !important;
	border-radius: 10px;
}
.post-overlay {
    background: linear-gradient(
45deg, rgb(161 19 58 / 54%), rgb(0 0 0 / 24%));
    position: absolute;
    width: 100%;
    height: 100%;
	border-radius: 10px;
}
.CrystalWatermark {
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(assets/LogoOutline.png);
    width: 200px;
    height: 200px;
    display: block;
    background-size: cover;
    transform: rotate(
-15deg);
    filter: blur(3px) grayscale(0.4) opacity(0.2);
}
@media (min-width: 1000px) {

article.post-card.post:first-child {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}
article.post-card.post:nth-child(2) {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 2;
	justify-content: center;
}
article.post-card.post:nth-child(3) {
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
article.post-card.post:nth-child(4) {
    grid-row-start: 3;
}
	
}
.article-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 10px 0px;
    line-height: 30px;
    background: -webkit-linear-gradient( 
358deg, #df4030 5%, #E8125B 91%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: black;
}
.gh-content>[id] {
    margin: 0;
    color: #fff !important;
}
.gh-canvas .article-image {
    grid-column: wide-start/wide-end;
    width: 80%;
    margin: 6vmin auto 6vmin;
	border-radius: 10px;
}








/*FEATURES*/

.block {
  overflow: hidden;
  width: 100%;
  margin: 50px auto;
  padding: 50px 0px;
  margin-bottom: 100px;
}
.block img {
  border-radius: 5px;
  transition: 0.3s all !important;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.1);
}
.block img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.animation {
  width: auto;
  height: 100px;
  font-size: 0px;
}
.animation div {
  display: inline-block;
  width: auto;
  float: none;
  padding: 0 10px;
}














/*FAQ*/


.FAQ h2 {
    margin: 0 0 1em;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 51px;
    background: -webkit-linear-gradient( 
358deg, #df4030 5%, #E8125B 91%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 5px transparent;
    color: black;
}

.FAQ input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.FAQContent {
    display: flex;
	grid-gap: 25px;
}
.FAQMain {
    width: 75%;
}


/* Accordion styles */
.FAQ .tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgb(0 0 0 / 50%);
    display: grid;
    grid-gap: 20px;
}

.FAQ .tab {
  width: 100%;
  color: white;
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
}
.FAQ .tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    background: #1c1c1c;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}
.FAQ .tab-label:hover {
  background: #212121;
}
.FAQ .tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.FAQ .tab-content {
    max-height: 0;
    padding: 0 1.5em;
    font-weight: 500;
    color: #eee;
    border-radius: 10px;
    background: #1c1c1c;
    transition: all 0.35s;
}
.FAQ .tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.FAQ .tab-close:hover {
  background: #212121;
}

.FAQ input:checked + .tab-label {
  background: #1c1c1c;
}
.FAQ input:checked + .tab-label::after {
  transform: rotate(90deg);
}
.FAQ input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
  margin-top: 15px;
}


.FAQSidebar iframe {
    height: 500px;
}










/*FOOTER*/
footer {
    background: transparent !important;
    margin: 0px !important;
    padding: 40px !important;
}
footer.site-footer {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    line-height: 30px;
    color: #fff;
}
.site-footer .container {
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    padding: 40px 0px;
}
.site-footer .inner {
    position: relative;
}
.site-footer-nav ul {
    margin: 0px !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.copyright {
    font-size: 16px;
    font-weight: 900;
}
.site-footer .copyright a {
    font-weight: 900 !important;
}
.site-footer div {
    z-index: 1000;
    position: relative;
}

















/*ANIMATION BOIII*/


.intro {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider {
    background: linear-gradient(180deg, #EA4433 5%, #E8125B 91%);
    position: fixed;
    top: 0;
    z-index: 1000;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
  }
  
  .intro-text {
    color: rgb(233, 233, 233);
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    z-index: 10000;
  }
  
  .hidee {
    background: black;
    overflow: hidden;
    z-index: 10000;
  }
  
  .hidee span {
    transform: translateY(100%);
    display: inline-block;
    
  }
  #LogoAnim{
    position:relative;
    width:800px;
    height:300px;
    background-color:#000;
    margin:auto;
    z-index: 10000;
    overflow:hidden;
  }
  
  #LogoAnim h3 {
    position: absolute;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight:700;
    margin:0;
    padding:0;
    z-index: 10003 !important;
    font-size: 100px;
    font-weight: 800;
    text-transform: uppercase;
    /* Warning: no fallback */
    background: -webkit-linear-gradient(-86deg, #EA4433 5%, #E8125B 91%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 12px transparent;
    color: #000;
    width:800px;
    text-align:center;
/*     visibility:hidden; */
    top:65px;
    font-size: 128px;
    text-shadow: 0px 4px 10px 0px rgba(255,255,255,0.1);
    font-family: 'Roboto', sans-serif;
  } 
  .slideshow__pause {
    display: none;
}
